/* pour tout la page  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* pour formulaire  */
.form{
    height:33em;
    width:400px;
    background: #f4f4f4;
    border:1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:40px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px  #f4f4f4;
    box-shadow: -10px -10px  #f4f4f4;
}
/* pour le titre h1 */
.form h1{
    margin-top: 10px;
    margin-bottom:30px;
    text-align: center;
}

/* pour le type input  */
.form input{
    display: block;
    width: 96%;
    height: 40px;
    border-radius: 7px;
    margin: 7px;
    padding-left: 7px;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
   
}
/* pour input nam=nom */
.form input[name=nom]{
    display: inline;
    width: 46%;
    margin-right: 2px;
}
/* pour input nam=prenom */
.form input[name=prenom]{
    width: 46%;
    display: inline;
}
/* pour input de type checkbox */
.form input[type=checkbox]{
 margin-top: 15px;
 border-radius: 15px;
 size: 10px;
}

/* pour type submit  */
.form input[type=submit]{
    background: #fff;
    margin-top: 15px;
    border: 1px solid black;
    position:absolute;
    width: 30%;
    margin-left: 30%;
    border-radius: 7px;
    font-weight: bold;   
}
/* pour p contient un lien  */
p{
    margin-top: 90px;    
}
