.div1{
    background-color: #136f63;
 
}
.div2{
    background-color: #F4F4F4 ;
}
.div3{
    background-color:#e5e5e5 ;
}
.div4{
    background-color:  #13747c;
}
.div5{
    background-color:#e9f3fa ;
}
