:root {
  --first: brown;
}

/* row style */
.C1{
    height: 50rem;
    
}
/* liste style */
ul{
    list-style:none;
}
ul li{
     width:180px;
}
ul li:hover{
   
background: #e5e5e5;
}
ul li ul li:hover{
    width: 130px;
    background: #fff;
}

/* profile style */
.profile{
    padding: 1px;
    margin:33%;
    background:rgb(9, 8, 8);
    height:100px;
    width:100px;
    border-radius:50%;
    
    
}



.list ul li a{
    color: black;
    text-decoration: none;
}
.list ul li{
    /* background-color: #F4F4F4 ; */
   display: table;
}
.colon1{
    background-color:#F1F1F1;
  
    height:50rem ;
}

p a{
    color: black;
}
.admin{
    text-align: center;
    margin-bottom: 7rem;
}
/* style  profile  admin  */
.my-button {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 30%;
    margin-bottom: 2px;
  }
  /* espace entre icons et titles  */
.fa-solid{
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 9px;
}










